.home-page {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.header a {
  margin-left: 1rem;
  text-decoration: none;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem;
  border: #e7e7e7 solid 1px;
  width: 50%;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
}

.badge {
  padding: 4px 1rem;
  background-color: #6274d8;
  color: white;
  border-radius: 4px;
  margin-right: 2px;
  margin-top: 2px;
}

.btn {
  padding: 0.5rem 1rem;
}