.filter {
    position: relative;
    display: inline-block;
    width: 300px;
}

.selected-genres {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-genres-text {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #919090;
    background: white;
    z-index: 1000;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.dropdown-item-container {
    overflow-y: auto;
    flex: 1;
}
.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.selected {
    background: #007bff;
    color: white;
}

.btn-filter-container {
    padding: 10px;
}

.btn-filter {
    width: 100%;
}